//====Variables=====

@import url('https://fonts.googleapis.com/css?family=Quicksand');



//default color
$bg-color: #000;

//tea type colors
$bg-tea-white: white;
$bg-tea-green: green;
$bg-tea-oolong: orange;
$bg-tea-puer: brown;
$bg-tea-black: #1a1a1a;
$bg-tea-herbal: purple;
$bg-tea-rooibos: red;


//Fonts
$font-family: 'Quicksand', sans-serif;
$font-color: #fff;
$font-size: 18px;
